<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servletti_Isa</servlet-name>
        <servlet-class>kontrollerit.Servletti_Isa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kysymyssivu</servlet-name>
        <servlet-class>kontrollerit.Kysymyssivu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Toimintosivu</servlet-name>
        <servlet-class>kontrollerit.Toimintosivu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Toiminto_purku</servlet-name>
        <servlet-class>kontrollerit.Toiminto_purku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Toiminto_salaus</servlet-name>
        <servlet-class>kontrollerit.Toiminto_salaus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servletti_Isa</servlet-name>
        <url-pattern>/Servletti_Isa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kysymyssivu</servlet-name>
        <url-pattern>/Kysymyssivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Toimintosivu</servlet-name>
        <url-pattern>/Toimintosivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Toiminto_purku</servlet-name>
        <url-pattern>/Toiminto_purku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Toiminto_salaus</servlet-name>
        <url-pattern>/Toiminto_salaus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Kysymyssivu.jsp</welcome-file>
    </welcome-file-list>
</web-app>
